.container-footer {
  font-family: 'Chakra-Petch-Regular';
  font-weight: 400;
  background-color: #151515;
  color: #fff;
  min-height: 200px;
  text-transform: uppercase;

  .section-footer {
    min-height: 100px;
  }

  .link-footer:hover {
    cursor: pointer;
  }

  .logo {
    width: 200px;
  }

  .word-copyright {
    display: inline-block;
    color: #767676;
    font-size: 12px;
    padding: 3px;
  }

  .fa-brands {
    padding: 5px;
    color: #4c4c4c;
    font-size: x-large;
    transition: all .3s ease;
  }

  .fa-brands:hover {
    cursor: pointer;
    color: #fff;
  }
}
