<div class="navbar-logo logo-out">
  <img src="assets/img/logo-marvel.png" alt="Logo Marvel" />
</div>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark" data-bs-theme="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-logo">
      <img src="assets/img/logo-marvel.png" alt="Logo Marvel" />
    </div>
    <div class="navbar-brand d-none d-lg-block">OUR LOGO</div>
    <div
      class="offcanvas offcanvas-start text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasDarkNavbarLabel">OUR LOGO</h2>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active"
                >Home</button
              >
            </li>
            <li class="nav-item">
              <button class="nav-link" routerLink="/hero" routerLinkActive="active">Hero</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" routerLink="favorites" routerLinkActive="active">Favorites</button>
            </li>
          </div>

          <div class="information">
            <span class="text-white px-2">Ciao {{ currentUser }}</span>
            <button class="btn btn-logout" routerLink="/login">Log Out</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>





