.section-background {
  background-image: url("https://cdn.marvel.com/content/1x/characters_art_mas_dsk_01.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  .section-title {
    font-size: 48px;
  }
}

.title {
  font-size: 32px;
  text-align: center;
  padding: 20px 0;
}
