<div class="container-fluid px-0">
  <div class="section-background">
    <div
      class="text-white d-flex justify-content-center align-items-center flex-column h-100"
    >
    <div class="p-3">
      <h1 class="section-title">Marvel Characters</h1>
      <p class="text-center section-paragraph">
        Get hooked on a hearty helping of heroes and villains from the humble
        House of Ideas!
      </p>
    </div>
    </div>
  </div>
  <div class="d-flex flex-column w-75 m-auto my-3">
    <app-title [title]="'Characters'"></app-title>
    <div class="d-flex search">
      <img src="../../../../assets/icons/search.svg" alt="search" />
      <input
        [placeholder]="filterForName"
        type="text"
        (input)="searchForName($event)"
      />
      <span class="clear" (click)="clearFilter()">Clear</span>
    </div>
  </div>
  <div
    class="col-md-10 d-flex flex-wrap justify-content-center align-items-start m-auto container-characters"
  >
    <ng-container *ngIf="!(loading | async); else loadingComponent">
      <ng-container *ngIf="characters && characters.length > 0; else noCharacters">
        <ng-container *ngFor="let character of characters">
          <app-character-card
            [character]="character"
          ></app-character-card> </ng-container
      ></ng-container>
    </ng-container>
  </div>
  <mat-paginator
    [length]="lengthResources"
    [pageSize]="pagination!.size"
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<ng-template #noCharacters>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <h2>No characters found</h2>
  </div>
</ng-template>

<ng-template #loadingComponent>
  <app-loader></app-loader>
</ng-template>
