<div class="container-fluid px-0">
  <div class="section-background img1">
    <div class="text-white d-flex justify-content-center align-items-center flex-column h-100">
      <div class="p-3">
        <h1 class="section-title">Movies</h1>
        <p class="text-center section-paragraph">
          Journey into the cosmic depths of the mighty Marvel Cinematic
          Universe!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row mt-5 hero-row justify-content-center">
    <div class="col-lg-6 hero-row__img justify-content-center">
      <img src="assets/img/blade.jpg" class="img-fluid" alt="Blade" />
    </div>
    <div class="col-lg-6 mt-5 hero-row__text-left custom-hero-1">
      <h1 class="">Blade</h1>
      <p>
        Per il momento, nel cast figurano solo Mahershala Ali, Delroy Lindo e Aaron Pierre.
        Kevin Feige e il protagonista Mahershala Ali saranno i produttori del film. Quest’ultimo ha già debuttato nel
        ruolo del Diurno: abbiamo infatti sentito la sua voce nella scena post-credits di Eternals.
        Blade uscirà il 6 settembre 2024 nelle sale americane.
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
  <div class="row flex-row-reverse mt-5 hero-row justify-content-center">
    <div class="col-lg-6 hero-row__img justify-content-center" style="width: 98%;">
      <img src="assets/img/thunderbots.jpg" class="img-fluid" alt="Thunderbots" />
    </div>
    <div class="col-lg-6 mt-5 hero-row__text-right custom-hero-2">
      <h1 class="">thunderbots</h1>
      <p class="">
        Inizialmente si parlava dei personaggi che sarebbero potenzialmente potuti apparire nel film, ovvero Baron Zemo,
        Yelena Belova, Ghost, Taskmaster, Abominio, US Agent e Winter Soldier. Anche il generale Thaddeus “Thunderbolt”
        Ross è una possibilità poiché nei fumetti è la persona che assembla la prima squadra. Tuttavia mancano le
        conferme, dato che non sappiamo se effettivamente ci sono dei contratti all’attivo.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
</div>

<div class="container-fluid px-0">
  <div class="section-background img2">
    <div class="text-white d-flex justify-content-center align-items-center flex-column h-100">
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row mt-5 hero-row justify-content-center">
    <div class="col-lg-6 hero-row__img justify-content-center">
      <img src="assets/img/fantastici4.jpg" class="img-fluid" alt="Blade" />
    </div>
    <div class="col-lg-6 mt-5 hero-row__text-left custom-hero-1">
      <h1 class="">Fantastici 4</h1>
      <p>
        Fantastici 4, film diretto da Matt Shakman, vede il ritorno sul grande schermo del gruppo di supereroi, formato
        da Mr. Fantastic, Torcia Umana, Donna Invisibile e Cosa, i quattro scienziati che hanno acquisito poteri
        straordinari dopo una delicata missione spaziale.
        Al momento non ci sono dettagli sulla trama del film.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
  <div class="row flex-row-reverse mt-5 hero-row justify-content-center">
    <div class="col-lg-6 hero-row__img justify-content-center">
      <img src="assets/img/avengers.jpg" class="img-fluid" alt="Thunderbots" />
    </div>
    <div class="col-lg-6 mt-5 hero-row__text-right custom-hero-2">
      <h1 class="">Avengers 5</h1>
      <p class="">
        I Marvel Studios annunciano ufficialmente l’arrivo di Avengers 5 e Avengers 6. Da quando Avengers: Endgame ha
        portato a termine le storie di Iron Man, Captain America e Black Widow, il futuro dei Vendicatori nel Marvel
        Cinematic Universe è stata una grande domanda incombente sulla Fase 4.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
    </div>
  </div>
</div>