<!-- <section class="p-0 bg-img cover-background container" style="background-image: url('assets/img/404.gif');"> -->
    <section class="p-0 bg-img cover-background container">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center min-vh-100">
                <div class="col-md-9 col-lg-6">
                    <div class="text-center error-page">
                        <h1 class="mb-0 text-secondary">404</h1>
                        <h2 class="mb-4 text-white">Sorry, something went wrong!</h2>
                        <p class="w-sm-80 mx-auto mb-4 text-white">This page is incidentally inaccessible because of support. We will back very before long much obliged for your understanding</p>
<!--                         <div>
                            <a routerLink="/characters" class="btn error-button">Back to Home</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="background-image: url('assets/img/error-page.gif');">
            <div class="row  justify-content-center min-vh-100">
            <img src='assets/img/error-page.png' alt="error" width="300px">
            </div>
        </div>
    </div>
</section>