
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.container {
    max-height: calc(100vh - 344px);
}
.p-0 {
    padding: 0!important;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

.error-page {
    background-color: #151515;
    border: 0.3px solid rgb(191, 189, 189);
    padding: 80px 20px;
    min-height:100vh;
}
.text-center {
    text-align: center!important;
}
.error-page h1 {
    font-size: 200px;
    line-height: 1;
    font-weight: 600;
}
.text-secondary {
    color: #ed2224!important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}

.error-button {
    color: #fff;
    background-color: #ed2224;
    border-radius: 20px;
}