.container-details {
  height: 100%;
  padding: 30px 0;
  min-height: 400px;
}
.image {
  max-height: 300px;
  border-radius: 5px;
}

.go-back {
  padding: 0 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  i {
    padding-right: 5px;
    font-size: 16px;
  }
}

.go-back:hover {
  cursor: pointer;
}

.button-custom {
  padding: 15px 30px;
  border: none;
  color: #fff;
  background-color: #ee171f;
  text-transform: uppercase;
  transition: all .3s ease;
}

.button-custom:hover {
  cursor: pointer;
  background-color: #d9040b;
}

.button-custom:active {
  transform:translateY(5px);
}
