<div class="row min-vh-100 mx-0">
  <div class="d-flex justify-content-center">
    <app-title title="Details"></app-title>
  </div>
  <span class="go-back" (click)="goBack()">Go Back</span>
  <ng-container *ngIf="!(loading | async); else loadingComponent">
    <div
      class="d-flex flex-column justify-content-evenly flex-md-row align-items-center my-4 my-md-0 container-details"
    >
      <div>
        <img [src]="character?.thumbnail" alt="thumbnail" class="image" />
      </div>
      <div class="col-10 col-md-6 p-3">
        <h2>{{ character?.name || "no name available" }}</h2>
        <p>{{ character?.description || "no description available" }}</p>
        <button class="btn btn-outline-success" [disabled]="bookmarkPresent" (click)="onAddBookmark()">Add to favorites</button>
        <button class="btn btn-outline-danger" [disabled]="!bookmarkPresent" (click)="onDeleteBookmark()">Remove to favorites</button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loadingComponent>
  <div class="h-100">
    <app-loader></app-loader>
  </div>
</ng-template>
