<div class="row vh-100">
  <div class="d-flex justify-content-center">
    <app-title title="Details"></app-title>
  </div>
  <span class="go-back" (click)="goBack()">Go Back</span>
  <div class="d-flex flex-column justify-content-evenly flex-md-row align-items-center h-75 my-4 my-md-0">
    <div>
      <img [src]="thumbnail" alt="thumbnail" class="image" />
    </div>
    <div class="col-10 col-md-6 p-3">
      <h2>{{ name || 'no name available' }}</h2>
      <p>{{ description || 'no description available' }}</p>
      <app-button [name]="'add'"></app-button>
    </div>
  </div>
</div>
